<div class="form main-form" ng-controller="AuthCtrl" ng-class="($state.is('auth.register')) ? 'register-form' : ''">
    <div class="newton-login-form newton-horizontal-centered" ui-view></div>

</div>
