@form-width: 450px;
@input-width: 450px;

.newton-login-form,
.newton-forgot-password-elements-container {
  width: @form-width;
  .newton-forgot_password {
    margin: 20px 0 20px 0;
  }
}
.newton-login-form{
  height: 100%;
}

.newton-login-header,
.newton-forgot-password-header{
  color: #32465e;
  font-size: 50px;

}

#login_form,
#forgot_form {
  input {
    width: @input-width;
  }
}

.pic {
  width: 40px!important;
  left: @input-width - 45px;
  background-position: center!important;
}

.newton-vertical-centered {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.newton-horizontal-centered {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.newton-button-login,
.newton-forgot_password,
.newton-button-restore,
.newton-sign-up,
{
  display: inline-block;
}

.newton-button-login,
.newton-button-restore{
  position: absolute;
  right: 0;
}

.forgot_password_form {
  width: @input-width + 150px;
}

.input-name {
  padding: 10px;
  width: 200px;
}
.categories-button {
  width: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #000000;
}
.head,
.body{
  border-radius: 7px;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  font-size: medium;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.name,
.status{
  width: 45%;
  display:inline-block;
  padding-top: 10px;
}

.published {
  color: rgb(0, 100, 0);
}

.unpublished {
  color: rgb(139, 0, 0);
}

.no-published-items{
  color: rgb(128, 128, 128);
}

.button{
  padding-top: 5px!important;
  width: 10%;
  display:inline-block;
}

.categories-status {
  &:hover {
    &::after {
      content: attr(data-title);
      position: absolute;
      left: 15%;
      top: 40%;
      z-index: 1;
      font-family: Arial, sans-serif;
      font-size: 12px;
      background: rgba(0,42,167,0.6);
      color: #fff;
      padding: 5px 10px;
    }
  }
}
.panel-title-font {
  text-align: center;
  font-size: 20px;
}
.table-font {
  font-size: large;
}

.edit-btn {
  right: 10px;
  margin-left: auto;
  display: block;
}

.td-center {
  vertical-align: middle !important;
}

.loop(5);
.loop (@i) when (@i <= 100){
  .width-@{i} {
    width: percentage(@i/100);
  }
  .loop(@i + 5);
}

.edit-variation-group {
  display: table;
  margin-right: 20px;
  margin-left: auto;
}
.edit-variation-btn {
  display: inline-block;
}
.big-pic {
  max-width: 100%;
}

.second-table {
  margin-top: -18px;
}