<div data-ng-controller="ProductsController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Products</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-50">Name</th>
                    <th class="width-25">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                    <td><a href="{{$scope.url}}{{product._id}}">{{product.name}}</a></td>
                    <td class="unpublished" data-ng-if="product.status=='published'">{{product.status}}</td>
                    <td class="unpublished" data-ng-if="product.status=='unpublished'">{{product.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>