<div ng-controller="DefaultAdminController">
  <form novalidate class="form-horizontal" ng-submit="addAdmin(user)">
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="alert alert-warning animated fadeIn ng-binding" ng-show="warningMsg">{{warningMsg}}</div>
    <div class="form-group">
      <label for="inputName1" class="col-sm-2 control-label">Admin name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName1" placeholder="Admin name" ng-model="user.name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail1" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
       <input type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="user.email" required>
     </div>
    </div>
    <div class="form-group">
      <label for="inputPassword1" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword1" placeholder="Password" ng-model="user.password" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </div>
    </form>
</div>
