<div class="" data-ng-controller="EditProductController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Edit product '{{name}}'</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-30">Name</th>
                    <th class="width-15">Icon</th>
                    <th class="width-20"></th>
                    <th class="width-15">Status</th>
                    <th class="width-10"></th>
                    <th class="width-10"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success table-font" ng-if="saved">
                        Product '{{saved.name}}' changed successfully.
                        Would you like to return back to products list?
                        <a class="btn btn-success active categories-button" href="categories/{{product.category_id}}" ng-if="saved">
                            Yes
                        </a>
                    </div>
                </tr>
                <tr>
                    <td>
                        <input id="txt-input-name" class="form-control input-name" ng-model="product.name">
                    </td>
                    <td>
                        <img ng-src="{{product.icon}}" alt="No icon" width="100px">
                    </td>
                    <td>
                        <br>Upload new icon:<br>
                        <form>
                            <input id="upload-file" multiple="multiple" name="upload" type="file"
                                   accept=".png" required="" file-model="fileForm.fileData"/><br><br>
                        </form>
                    </td>
                    <td class="published td-center" data-ng-if="product.status=='published'">
                        <label>
                            <input type="checkbox" checked ng-click="unpublish(product)"> {{product.status}}
                        </label>
                    </td>
                    <td class="unpublished td-center" data-ng-if="product.status=='unpublished' && hasPublishedElements(product._id)">
                        <label>
                            <input type="checkbox" ng-click="publish(product)"> {{product.status}}
                        </label>
                    </td>
                    <td class="no-published-items td-center"
                        data-ng-if="product.status=='unpublished' && !hasPublishedElements(product._id)">
                        <span uib-tooltip="There are no published elements">{{product.status}}</span>
                    </td>
                    <td class="td-center">
                        <button id="product-save" class="btn btn-primary active categories-button edit-btn" ng-click="saveProduct()">
                            Save
                        </button>
                    </td>
                    <td class="td-center">
                        <a id="product-cancel" class="btn btn-danger active categories-button edit-btn" href="categories/{{product.category_id}}">
                            Cancel
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
