<div class="" data-ng-controller="EditCategoryController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Edit category '{{name}}'</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-10">Name</th>
                    <th class="width-10">Icon</th>
                    <th class="width-25">Upload</th>
                    <th class="width-40">Status</th>
                    <th class="width-15"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success table-font" ng-if="saved">
                        Category '{{saved.name}}' changed successfully.
                        Would you like to return back to categories list?
                        <a class="btn btn-success active categories-button" href="categories" ng-if="saved">
                            Yes
                        </a>
                    </div>
                </tr>
                <tr></tr>
                <tr>
                    <td class="td-center"><input id="txt-input-name" class="form-control input-name" ng-model="category.name"></td>
                    <td><img ng-src="{{category.icon}}" alt="   No icon" width="100px"></td>
                    <td>
                        <br>Upload new icon:<br>
                        <form>

                            <input id="upload-file" multiple="multiple" name="upload" type="file"
                                   accept=".png" required="" file-model="fileForm.fileData"/><br><br>
                        </form>
                    </td>
                    <td  id="published-{{category.name}}" class="published td-center" data-ng-if="category.status=='published'">
                        <label>
                            <input id="unpublish-{{category.name}}" type="checkbox" checked ng-click="unpublish(category)"> {{category.status}}
                        </label>
                    </td>
                    <td  id="unpublished-{{category.name}}" class="unpublished td-center" data-ng-if="category.status=='unpublished' && hasPublishedProducts(category._id)">
                        <label>
                            <input id="publish-{{category.name}}"type="checkbox" ng-click="publish(category)"> {{category.status}}
                        </label>
                    </td>
                    <td class="no-published-items td-center"
                        data-ng-if="category.status=='unpublished' && !hasPublishedProducts(category._id)">
                        <span uib-tooltip="There are no published products">{{category.status}}</span>
                    </td>
                    <td class="td-center">
                        <button id="category-save" class="btn btn-primary active categories-button edit-btn" ng-click="saveCategory()">
                            Save
                        </button>
                    </td>
                    <td class="td-center">
                        <a id="category-cancel" class="btn btn-danger active categories-button edit-btn" href="categories">
                            Cancel
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
