<div class="" data-ng-controller="ElementsController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Elements of '{{product_name}}'</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-30">Name</th>
                    <th class="width-15">Status</th>
                    <th class="width-15">Movability</th>
                    <th class="width-10">Z-index</th>
                    <th class="width-10"></th>
                    <th class="width-10"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success" ng-if="added">
                        Element '{{added.name}}' added successfully
                    </div>
                    <div class="alert alert-success" ng-if="removed">
                        Element '{{removed}}' removed successfully
                    </div>
                </tr>
                <tr>
                    <td><input id="txt-input-name" class="form-control input-name" ng-model="element.name"></td>
                    <td>unpublished</td>
                    <td>immovable</td>
                    <td><input id="z-index" class="form-control" ng-model="element.z_index"></td>
                    <td></td>
                    <td>
                        <button id="element-add" class="btn btn-primary active categories-button edit-btn" ng-click="addElement()">
                            Add
                        </button>
                    </td>
                </tr>
                <tr>
                    <div class="alert alert-info animated fadeIn ng-binding" ng-show="emptyMsg">{{emptyMsg}}</div>
                </tr>
                <tr ng-repeat="element in elements">
                    <td><a id="{{element.name}}" href="{{url}}{{element._id}}">{{element.name}}</a></td>
                    <td id="published-{{element.name}}" class="published td-center" data-ng-if="element.status=='published'">
                        <input id="unpublish-{{element.name}}" type="checkbox" checked ng-click="unpublish(element)"> {{element.status}}
                    </td>
                    <td id="unpublished-{{element.name}}" class="unpublished td-center" data-ng-if="element.status=='unpublished' && hasPublishedElementVariations(element._id)">
                        <input id="publish-{{element.name}}" type="checkbox" ng-click="publish(element)"> {{element.status}}
                    </td>
                    <td class="unpublished td-center" title="There are no published element variations"
                        data-ng-if="element.status=='unpublished' && !hasPublishedElementVariations(element._id)">
                        {{element.status}}
                    </td>
                    <td class="published td-center" data-ng-if="element.movability=='movable'">
                        <input id="immove-{{element.name}}" type="checkbox" checked ng-click="immovable(element)"> {{element.movability}}</td>
                    <td class="unpublished td-center" data-ng-if="element.movability=='immovable'">
                        <input id="move-{{element.name}}" type="checkbox" ng-click="movable(element)"> {{element.movability}}</td>
                    <td class="td-center">{{element.z_index}}</td>
                    <td>
                        <button id="element-remove-{{element.name}}" class="btn btn-danger active categories-button edit-btn"
                                ng-click="removeElement(element._id, element.name)">
                            Remove
                        </button>
                    </td>
                    <td>
                        <a id="element-edit-{{element.name}}" class="btn btn-primary active categories-button edit-btn" href="{{url}}{{element._id}}/edit">
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>