<div data-ng-controller="UploadController">
    <form>
        <input id="upload-file" multiple="multiple" name="upload" type="file" accept=".png" required="" file-model="fileForm.fileData"/><br><br>
        <button data-ng-click="Submit()"> Upload </button>
    </form>
</div>