<div class="" data-ng-controller="ProductsController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Products of '{{category_name}}'</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-30">Name</th>
                    <th class="width-25">Icon</th>
                    <th class="width-30">Status</th>
                    <th class="width-25"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success" ng-if="added">
                        Product '{{added.name}}' added successfully
                    </div>
                    <div class="alert alert-success" ng-if="removed">
                        Product '{{removed}}' removed successfully
                    </div>
                </tr>
                <tr>
                    <td><input id="txt-input-name" class="form-control input-name" ng-model="product.name"></td>
                    <td></td>
                    <td>unpublished</td>
                    <td></td>
                    <td>
                        <button id="product-add" class="btn btn-primary active categories-button edit-btn" ng-click="addProduct()">
                            Add
                        </button>
                    </td>
                </tr>
                <tr>
                    <div class="alert alert-info animated fadeIn ng-binding" ng-show="emptyMsg">{{emptyMsg}}</div>
                </tr>
                <tr ng-repeat="product in products">
                    <td class="td-center"><a id="{{product.name}}" href="{{url}}{{product._id}}">{{product.name}}</a></td>
                    <td><img ng-src="{{product.icon}}" alt="No icon" width="100px"></td>
                    <td id="published-{{product.name}}" class="published td-center" data-ng-if="product.status=='published'">
                        <input id="unpublish-{{product.name}}" type="checkbox" checked ng-click="unpublish(product)"> {{product.status}}
                    </td>
                    <td id="unpublished-{{product.name}}" class="unpublished td-center" data-ng-if="product.status=='unpublished' && hasPublishedElements(product._id)">
                        <input id="publish-{{product.name}}" type="checkbox" ng-click="publish(product)"> {{product.status}}
                    </td>
                    <td class="no-published-items td-center"
                        data-ng-if="product.status=='unpublished' && !hasPublishedElements(product._id)">
                        <span uib-tooltip="There are no published elements">{{product.status}}</span>
                    </td>
                    <td class="td-center">
                        <button id="product-remove-{{product.name}}" class="btn btn-danger active categories-button edit-btn"
                                ng-click="removeProduct(product._id, product.name)">
                            Remove
                        </button>
                    </td>
                    <td class="td-center">
                        <a id="product-edit-{{product.name}}" class="btn btn-primary active categories-button edit-btn" href="{{url}}{{product._id}}/edit">
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>