<!-- Jumbotron -->
  <div class="jumbotron" align="center" ng-controller="HeaderController as hdrctr">
    <h1>Welcome to product configurator</h1>
    <div ng-show="!hdrctr.hdrvars.authenticated">
      <p class="lead">Please log in to get started</p>
      <p><a class="btn btn-lg btn-success" ui-sref='auth.login' role="button">Log In</a></p>
    </div>
    <div class="lead" ng-show="hdrctr.hdrvars.authenticated">
      To start working with categories click <a class="btn btn-success" href='categories'>here</a>
    </div>
  </div>

